<div class="l home_content">
  <p>
    <strong>欢迎来到 iddtherapy.cn!</strong>
    <%= image_tag "Line.jpg" %>
  </p>

  <p>腰背疼痛几乎是最常见的患病痛苦，多多少少迟早会影响到80%的人。通常，腰背部问题会造成一些身体功能的永久丧失，不管愿意不愿意，这可能会迫使你放弃在生活中的某些重要的东西。</p>

  <p>到目前为止，腰背痛的治疗方法有：卧床休息，肌肉松驰药，止痛药，按摩正骨等等；如果这些都没有效，那就只好做手术了。</p>

  <p>现在，你有一个更好的选择：IDD疗法！不用手术。没有注射。对于大多数患者都十分有效，你再也不须忍受背部疼痛了！</p>

  <p>那么，什么是IDD疗法呢？ &gt; &gt; <a href="/categories/526682a551e4a135d7000001" class="sidebar_cyan">详细请见</a></p>
</div>
<div class="l home_pdf">
  <p>
    <strong>有关IDD疗法的介绍</strong>
    <%= image_tag "Line.jpg" %>
  </p>
  <p><a title="IDD Therapy Patient Brochure" href="images/pdfs/iddpatientbrochure.pdf" target="_blank"><%= image_tag "brochureCover.jpg" %></a><br>
    <br>下载PDF格式的IDD疗法介绍手册<br>
    <a href="images/pdfs/iddpatientbrochure.pdf">点击这里</a><br>
    <br>
    <%= image_tag "Line.jpg" %>
</div>
<div class="clearfix"></div>
