// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{margin: 0;padding: 0;}
#img-top{margin-bottom: -5px;}

.footer{ height:auto; padding-bottom:15px; overflow:hidden; background-position:top; margin:0 auto; padding-top:15px; line-height:30px; text-align:right;}
.footer_left{ width:350px; height:auto; overflow:hidden; float:left; overflow:hidden; text-align:left; padding:0px;}
a.wx_img{ display:block; width:107px; height:107px; overflow:hidden; float:right; padding-top:7px; margin-right: 30px; }
.footer p{ float:right; color:#333; width:200px; font-size:12px; line-height:30px; padding-left:20px; margin-right: 40px; }
