</td>
    </tr>
  </table>
  <%= render "layouts/footer" %>
  <%= render "layouts/right_contact" %>

  <%#<div id="container" class="container">%>
    <%#<header>%>
      <%#= render 'layouts/navigation' %>
      <%#= render 'layouts/messages' %>
      <%#</header>%>
    <%#<div id="main" role="main">%>
      <%#= yield %>
      <%#</div>%>
    <%#<footer>%>
      <%#</footer>%>
    <%#</div> [>! end of #container <]%>
  <%= render "layouts/logo" %>
</body>
</html>

