<div id="amazingslider-1" style="display:block;position:relative;margin:0 auto 0;overflow: hidden">
<%= content_tag :ul, class: 'amazingslider-slides', style: 'display:none;' do %>
  <% flashes.each do |flash| %>
    <%= content_tag :li do %>
      <%= link_to flash.url do%>
        <%= image_tag(flash.image) -%>
      <% end -%>
    <% end -%>
  <% end -%>
<%end -%>
</div>
