<div class="footer">
  <div class="footer_left">
    &nbsp;
    <%#<a class="wx_img"><img src="http://www.sdskey.com/images/wx.jpg"></a>%>
    <%#<b>微信关注方法</b>%>
    <%#<p>1、扫描左侧二维码</p>%>
    <%#<p>2、搜索“晟尚医疗”关注微信</p>%>
    <%#<p>3、查找微信号：IDDTherapy</p>%>
  </div>
  <div class="footer_right">
    <div class="footer_con">
      <%= Option.where(name: 'footer_con').first.try(:value).try(:html_safe) %>
    </div>
  </div>
</div>
<div class="clearfix"></div>
