<div class="nav_hot">
  <% %w(最新活动 康复案例 热点文章).each do |name| %>
    <% if category = Category.where(name: name).in_index.first %>
      <div class="hot_article mr">
        <span class="hot_title"><a target="_blank" href="#"><%= link_to category, category %></a></span>
        <ul class="hot_list">
          <% if category.pages.any? %>
            <% category.posts.recent.limit(5).each do |post| %>
              <li><%= link_to post.title, post, target: '_blank' %></li>
            <% end -%>
          <% else %>
            <li>暂无消息</li>
          <% end -%>
        </ul>
      </div>
    <% end -%>
  <% end -%>
</div>
<div class="nav_hot">
  <div class="hot_article mr">
    <span class="hot_title"><a target="_blank" href="#"><%= link_to '视频中心', videos_path %></a></span>
    <ul class="hot_list">
      <% if Video.recent.any? %>
        <% Video.recent.limit(5).each do |post| %>
          <li><%= link_to post.title, post, target: '_blank' %></li>
        <% end -%>
      <% else %>
        <li>暂无消息</li>
      <% end -%>
    </ul>
  </div>
</div>
