<div id="logo">
  <a href="/">
    <%= image_tag "logo-1.png" %>
  </a>
</div>

<script type="text/javascript"> 
var _bdhmProtocol = (("https:" == document.location.protocol) ? "https://" : "http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Feb509acb425e99718a2b10a3de4ff6ce' type='text/javascript'%3E%3C/script%3E"))
</script>
