<% @c = @category || (@page || @post).category %>
<ul id="nav" class="nav_left">
  <% Category.root.each do |root| %>
    <li class=""><%= link_to root.name, root, class: 'a_root' %>
      <%  if root.categories.any?  %>
        <ul class="sub-menu ">
          <% root.categories.each do |l2| %>

            <li class="nav_l2">
              <%= link_to  l2.name, l2 %>
              <%  if l2.categories.any?  %>
                <ul>
                  <% l2.categories.each do |l3| %>
                    <li class="nav_l3<%= ' active' if root == @c %>">
                      <%= link_to l3.name, l3 %>
                    </li>
                  <% end -%>
                </ul>
              <% end if nil -%>
            </li>
          <% end -%>
        </ul>
      <% end -%>
    </li>
  <% end -%>
</ul>
