<div id="BDBridgeWrap">
  <div id="BDBridgeIconWrap" style="text-align: left; display: block; width: 200px; height: 154px; position: fixed; top: 50%; right: 0px; margin-right: 8px; margin-top: -90px;border: 1px solid #cccccc;">
    <div id="IconContainer" style="width: 200px; height: 154px;">
      <div id="bridgehead" class="" style="background-image: url(<%= asset_path 'bg_zixun.png' %>); width: 200px; height: 154px;">
        <div id="bridge_buttons">
          <button id="bridge_btn1">&nbsp;</button>
          <button id="bridge_btn2">&nbsp;</button>
        </div>
      </div>
    </div>
  </div>
</div>
<%#<script type="text/javascript" src="http://qiao.baidu.com/v3/asset/js/m-webim-lite.js?v=20130902" charset="utf-8"></script>%>

