<div class="other_right ml40" id="sidebar">
  <div class="sidebar">
    <!--sds脊柱治疗中心-->
    <div class="sdszlzx">
      <div class="sidebar_title">
        <span class="sidebar_cyan">IDD疗法</span>介绍
      </div>
      <div class="sidebar_hr">
      </div>
      <ul>
        <li><a href="#" target="_blank">什么是IDD疗法</a></li>
        <li><a href="#" target="_blank">IDD疗法的原理</a></li>
        <li><a href="#" target="_blank">IDD疗法仪器介绍</a></li>
        <li><a href="#" target="_blank">IDD疗法康复数据</a></li>
        <li><a href="#" target="_blank">为什么选择IDD疗法</a></li>
        <li><a href="#" target="_blank">IDD疗法费用标准</a></li>
        <li><a href="#" target="_blank">IDD疗法的适用和禁忌</a></li>
      </ul>

      <div class="sidebar_title">
        <span class="sidebar_cyan">IDD疗法</span>最新资讯
      </div>
      <div class="sidebar_hr">
      </div>
      <ul>
        <li><a href="#" target="_blank">最新活动</a></li>
        <li><a href="#" target="_blank">热点文章</a></li>
        <li><a href="#" target="_blank">康复案例</a></li>
        <li><a href="#" target="_blank">网络视频</a></li>
      </ul>
    </div>


    <!--开设中心-->
    <div class="kszx">
      <div class="sidebar_title">
        <span class="sidebar_cyan">IDD疗法</span>国内覆盖地区
      </div>
      <div class="sidebar_hr">
      </div>
      <div class="kszx_con">
        <ul class="sidebar_ul">

          <li><a target="_blank">天津市</a></li>
          <li><a target="_blank">河北省</a></li>
          <li><a target="_blank">辽宁省</a></li>
          <li><a target="_blank">河南省</a></li>
          <li><a target="_blank">湖北省</a></li>

          <li><a target="_blank">黑龙江</a></li>
          <li><a target="_blank">吉林省</a></li>
          <li><a target="_blank">内蒙古</a></li>
          <li><a target="_blank">安徽省</a></li>

          <li><a target="_blank">北京市</a></li>
          <li><a target="_blank">上海市</a></li>
          <li><a target="_blank">江苏省</a></li>
          <li><a target="_blank">重庆市</a></li>
          <li><a target="_blank">浙江省</a></li>
          <li><a target="_blank">湖南省</a></li>
          <li><a target="_blank">广东省</a></li>
        </ul>
      </div>
    </div>
    <!--开设中心结束-->
    <!--免费热线-->
    <div class="kszx">
      <div class="sidebar_title">
        <span class="sidebar_cyan">IDD疗法</span>免费热线
      </div>
      <div class="sidebar_hr">
      </div>
      <div class="kszx_con">
        <span class="dh_img"><img src="<%= asset_path('telephone.jpg') %>" alt="400-099-8322"></span>
        <span class="yy_button"><b><a class="o_zxzx" title="在线预约" target="_blank"></a></b><b><a class="o_yyyy" title="医院预约" target="_blank"></a></b></span>
      </div>
    </div>
    <!--免费热线结束-->
  </div>
</div>
