<div class="other_right ml40" id="sidebar">
  <div class="bgcolor">
    <!--sds脊柱治疗中心-->
    <div class="sdszlzx bc">
      <div class="sidebar_title">
        <span class="sidebar_cyan">IDD疗法</span>介绍
      </div>
      <div class="sidebar_hr">
      </div>
      <ul>
        <li><a href="#" target="_blank">什么是IDD疗法</a></li>
        <li><a href="http://www.sdskey.com/sds/2.html" target="_blank">SDS治疗原理及特点</a></li>
        <li><a href="http://www.sdskey.com/sds/3.html" target="_blank">SDS治疗优势</a></li>
        <li><a href="http://www.sdskey.com/sds/4.html" target="_blank">SDS适用症/禁忌症</a></li>
        <li><a href="http://www.sdskey.com/sds/5.html" target="_blank">SDS治疗过程</a></li>
        <li><a href="http://www.sdskey.com/sds/6.html" target="_blank">SDS仪器介绍</a></li>
        <li><a href="http://www.sdskey.com/sds/7.html" target="_blank">SDS治疗费用标准</a></li>
        <li><a href="http://www.sdskey.com/sds/51.html" target="_blank">SDS治疗康复数据</a></li>
        <li><a href="http://www.sdskey.com/sds/52.html" target="_blank">SDS疗法恢复指南</a></li>
      </ul>

      <div class="sidebar_title">
        <span class="sidebar_cyan">IDD疗法</span>最新资讯
      </div>
      <div class="sidebar_hr">
      </div>
      <ul>
        <li><a href="#" target="_blank">最新活动</a></li>
        <li><a href="#" target="_blank">热点文章</a></li>
        <li><a href="#" target="_blank">康复案例</a></li>
        <li><a href="#" target="_blank">网络视频</a></li>
      </ul>
    </div>


    <!--开设中心-->
    <div class="kszx bc">
      <div class="sidebar_title">
        <span class="sidebar_cyan">IDD疗法</span>国内覆盖地区
      </div>
      <div class="sidebar_hr">
      </div>
      <div class="kszx_con">
        <ul class="sidebar_ul">

          <li><a target="_blank">天津市</a></li>
          <li><a target="_blank">河北省</a></li>
          <li><a target="_blank">辽宁省</a></li>
          <li><a target="_blank">河南省</a></li>
          <li><a target="_blank">湖北省</a></li>

          <li><a target="_blank">黑龙江</a></li>
          <li><a target="_blank">吉林省</a></li>
          <li><a target="_blank">内蒙古</a></li>
          <li><a target="_blank">安徽省</a></li>

          <li></li>
        </ul>
      </div>
    </div>
    <!--开设中心结束-->
    <!--免费热线-->
    <div class="kszx bc">
      <span class="kszx_title"><img src="<%= asset_path('mfrx.jpg') %>" alt="免费热线"></span>
      <div class="kszx_con">
        <span class="dh_img"><img src="<%= asset_path('telephone.jpg') %>" alt="400-099-8322"></span>
        <span class="yy_button"><b><a class="o_zxzx" title="在线预约" target="_blank"></a></b><b><a class="o_yyyy" title="医院预约" target="_blank"></a></b></span>
      </div>
    </div>
    <!--免费热线结束-->
  </div>
</div>
