<%= render "layouts/before" %>
<%= yield %>
</td>
<td valign="top">
<div style="height: 19px;">
            &nbsp;
          </div>
  <img src="<%= asset_path('right_side.jpg') %>" width="485">
  <%= render "layouts/after" %>
